body
{
    background-color: #1a1a1a;
}

.sekcja
{
    text-align: center;
}
.nawigacja
{
    background-color: #959595;
}

a {
    background-color: #959595;
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: gold;
  }
  
* {
    box-sizing: border-box;
  }
 
 ul 
 {
     list-style: none;
     padding: 0;
 }
 li
 {
     
}
