body
{
    background-color: #1a1a1a;
}

.sekcja
{
    text-align: center;
}
.nawigacja
{
    background-color: #959595;
}

a {
    background-color: #959595;
    transition: background-color .5s;
  }
  
.menu
{
    background-color: pink;
    width: 150px;
}

.menu:hover
{
    background-color: red;
    width: 150px;
}
menu:active {
        background: yellow
}