body
{
    background-color: #1a1a1a;
    color: silver;
}



.sekcja
{
    text-align: center;
}
.nawigacja
{
    background-color: #959595;
}


  
.menu
{
    background-color: #959595;
    width: 150px;
}

.menu:hover
{
    background-color: red;
    width: 150px;
}

  
  .active 
  {
    background-color: #454545;
    width: 150px;
  }

  #zegar
  {
      max-width: auto;
      font-size: 200%;
      color: silver;
  }

  #inputField
  {
      border: 1px solid black;
  }
  #dodaj
  {
      border: 1px solid black;
  }


.container
{
    margin-top: 30px;
}
.paragraph-styling
{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
.lorem
{
    float: left;
}